body {
  padding-top: 70px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

footer {
  text-align: center;
  width: 100%;
  margin: 5em auto 1em auto;
  height: 40px;
  background: #5abeef;
}

footer a {
  color: white;
}

footer p {
  font-size: small;
  padding: 10px 0;
}

.transparent {
  background: #7f7f7f;
  background: rgba(255, 255, 255, 0.6);
}

.wrapper {
  width: 80%;
  margin: 20px auto;
}

.body1 {
  background-color: blue;
}

/*IMPORTANT: Color of the navbar OG:48b7ee*/

.navbar .container-fluid {
  background-color: #5abeef;
  -moz-box-shadow: 0 0 10px 3px #a3a3a3;
  -webkit-box-shadow: 0 0 10px 3px #a3a3a3;
  box-shadow: 0 0 10px 3px #a3a3a3;
}

.navbar .navbar-header .navbar-brand {
  color: white;
}

/*Another important things: lighter shade of navbar color is #7eccf3;*/


/*This sets the height of the navbar*/
.navbar {
  /*min-height: 55px;*/
  margin-bottom: 20px;
  z-index: 2
}


.navbar-nav>li>a {
  padding-top: 17px;
  padding-bottom: 0;

}


.navbar .navbar-default .navbar-text {
  color: #fff;
}

.navbar .navbar-nav>li>a {
  color: #fff;
  font-size: 15px;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
  color: #000;
  background-color: transparent;

}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus {
  color: #e448ee;
  background-color: #e7e7e7;
}

.navbar .navbar-nav>.disabled>a,
.navbar .navbar-nav>.disabled>a:hover,
.navbar .navbar-nav>.disabled>a:focus {
  color: #e448ee;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #1e4b87;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1e4b87;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #e448ee;
  background-color: #e7e7e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #1e4b87;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1e4b87;
}




.menu-ui {
  background: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.menu-ui a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

.menu-ui a:hover {
  background: #f8f8f8;
  color: #404040;
}

.menu-ui a.active,
.menu-ui a.active:hover {
  background: #3887BE;
  color: #FFF;
}

h1 {
  text-shadow: 1px 1px #808080;
  text-align: center;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: #808080;
  margin-bottom: 2em;
}

h2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  text-align: left;
  color: #347bad;
  /*text-shadow: 1px 1px #808080;*/
}




.welcome {
  background-color: #fff;
  margin-bottom: 20px;

}

@media only screen and (max-width: 800px) {
  .welcome {
    margin-top: 90px;

  }
}


.panel-title {
  font-size: 30px;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}

.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 1px;
}

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legend a {
  color: #777;
}

.my-legend2 .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}

.my-legend2 .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend2 .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

.my-legend2 ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
}

.my-legend2 .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legend2 a {
  color: #777;
}

.subheading {
  font-size: 22px;
  font-weight: bold;
  color: #000000;

}


#map {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  z-index: 1;
  padding-top: 0;
}

#chemicals {
  width: 80%;
  margin: 0 auto;
}

#Table,
#PIECV,
#TotalQuantityReleased,
#PWMPV {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#Table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.google-visualization-table-tr-head {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.google-visualization-table-table {
  border: 4px solid #3887BE;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #303030;
}

.google-visualization-table-td span {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.TABLEPIE {
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
}



.CompanyName-TypeIndustry {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: hidden;
  width: 100%;
}

@media only screen and (max-width: 1263px) {
  .CompanyName-TypeIndustry {
    height: auto;
    overflow: visible;
    width: 800px;
  }
}

#PIECV {
  width: 600px;
}

#TotalQuantityReleased {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#PWMPV {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#CompanyName {
  text-align: left;
  float: left;
  width: auto;
}

@media only screen and (max-width: 1263px) {
  #CompanyName {
    text-align: left;
    float: none;
    display: block;
  }
}

#SCORE {
  float: left;
}

#SCORE h3 {
  float: left;
  width: 100%;
}

#TypeIndustry {
  float: left;
  width: 100%;
}

#ToxicReleases,
#Revenue,
#Employee,
#PWMA,
#CancerRisk,
#TPounds {
  width: 80%;
  height: 500px;
  margin: auto;
}

@media only screen and (max-width: 1263px) {
  #TypeIndustry {
    width: 100%;
  }

  .TABLEPIE {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
}


.login {
  text-align: right;
}

.teamPhoto {
  text-align: center;
  padding: 1em;
  width: 90%;
  margin: auto;
}

.indivBioPic {
  vertical-align: middle;
  width: 26%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 1em;
}

#floatRight {
  float: right;
}

#floatLeft {
  float: left;
}

.TextBox {
  width: 70%;
  height: auto;
  vertical-align: middle;
  padding-top: 3%;
}

#ImageRight {
  text-align: right;
  float: left;
}

#ImageLeft {
  text-align: left;
  float: right;
}

.HorizontalLine {
  width: 100%;
  height: 0.2em;
}



#headerlogos {
  float: right;
}

#Note {
  width: 100%;
  float: left;
}



#top {
  float: right;
}

#top2 {
  text-align: right;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#noteimpact {
  float: left;
  width: 100%
}

.timeline {
  width: 400px;
}

.timeline .timeline-item {
  width: 100%;
}

.timeline .timeline-item .info,
.timeline .timeline-item .year {
  color: #eee;
  display: block;
  float: left;
  transition: all 1s ease;
}

.timeline .timeline-item.close .info,
.timeline .timeline-item.close .year {
  color: #ccc;
  transition: all 1s ease;
}

.timeline .timeline-item .year {
  font-size: 24px;
  font-weight: bold;
  width: 22%;
}

.timeline .timeline-item .info {
  width: 78%;
  margin-left: -2px;
  padding: 0 0 40px 35px;
  border-left: 4px solid #aaa;
  font-size: 14px;
  line-height: 20px;
}

.timeline .timeline-item .marker {
  background-color: #fff;
  border: 4px solid #aaa;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: block;
  float: right;
  margin-right: -14px;
  z-index: 2000;
  position: relative;
}

.timeline .timeline-item.active .info,
.timeline .timeline-item:hover .info {
  color: #444;
  transition: all 1s ease;
}

.timeline .timeline-item.active .year,
.timeline .timeline-item:hover .year {
  color: #9DB668;
}

.timeline .timeline-item .marker .dot {
  background-color: white;
  transition: all 1s ease;
  display: block;
  border: 4px solid white;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  float: right;
  z-index: 2000;
  position: relative;
}

.timeline .timeline-item.active .marker .dot,
.timeline .timeline-item:hover .marker .dot {
  transition: all 1s ease;
  background-color: #9DB668;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#centeredDiv {
  margin: 0 auto;
  width: 800px;
}

.corner {
  border-radius: 25px;
  border: 2px solid #8AC007;
}